body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

a {
    color: white;
}

a:hover {
	color: gray;
}

#top {
    text-align: center;
}

#logo-name {
    padding-top: 2vh;
    padding-bottom: 1vh;
    font-size: 32px;
    font-weight: bold;
}

#navigation a {
    padding-left: 1vw;
    padding-right: 1vw;
    color: white;
}

#navigation a:hover {
    color: grey;
}

#main {
    max-width: 800px;
    margin: auto;
    text-align: justify;
}

#programmingLanguages {
    text-wrap: nowrap;
}

#footer {
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, 0%);
    text-align: center;
    color: grey;
    max-width: 800px;
    padding: 16px;
}